
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Posts, Categories and Tags</title>

    @Styles.Render("~/Content/jqueryui/css")
    @Styles.Render("~/Content/jqueryui/custom/css")
    @Styles.Render("~/Content/jqgrid/css")
    @Styles.Render("~/Content/admin/css")
</head>
<body>
    <div> 
        <!-- tab control -->
        <div id="tabs">

            <!-- tab titles -->
            <ul>
                <li><a href="#tab-posts">Posts</a></li>
                <li><a href="#tab-cats">Categories</a></li>
                <li><a href="#tab-tags">Tags</a></li>
            </ul>

            <!-- tab that contains grid to display posts -->
            <div id="tab-posts" class="tab">
                <table id="tablePosts" class="grid"></table>
                <div id="pagerPosts" class="pager">
                    
                </div>
            </div>

            <!-- tab that contains grid to display categories -->
            <div id="tab-cats" class="tab">
                <table id="tableCats" class="grid"></table>
                <div id="pagerCats" class="pager">
                </div>
            </div>

            <!-- tab that contains grid to display tags -->
            <div id="tab-tags" class="tab">
                <table id="tableTags" class="grid"></table>
                <div id="pagerTags" class="pager">
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery/js")
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                $.browser.msie = true;
                $.browser.version = RegExp.$1;
            }
        })();
    </script>
    @Scripts.Render("~/bundles/jqgrid/js")
    @Scripts.Render("~/bundles/tinymce/js")
    @Scripts.Render("~/bundles/tinymce/themes/js")
    @Scripts.Render("~/bundles/admin/js")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
</body>
</html>
