@model LunarSFX.Core.Objects.Post
@using LunarSFX.Extensions

<div class="post-preview">
    
        <!--Heading-->
        <h2 class="post-title">
            @Html.PostLink(Model)
        </h2>
        @*<div class="post-subtitle">
            
        </div>*@
    
    <p class="post-meta">
        
            <!--Category-->
        <div>
            @Html.CategoryLink(Model.Category)
        </div>
        <div>
            <!--Tags-->
        
            @Helpers.Tags(Html, Model.Tags)
       

            <!--Posted date-->
            <span class="pull-right">Posted On @Model.PostedOn.ToString("f")</span>

        </div>
        

    </p>

    <!--Short Description-->
    <div class="post-body">
        @Html.Raw(Model.ShortDescription)
    </div>

    <div class="post-foot">
        @Html.ActionLink("continue...", "post", "blog",
        new
        {
            year = Model.PostedOn.Year,
            month = Model.PostedOn.Month,
            day = Model.PostedOn.Day,
            title = Model.UrlSlug
        },
        new { title = "continue..." }
    )
    </div>
</div>